.card__item {
   padding: 16px 24px;
   background-color: rgb(209, 125, 152);
   border-radius: 16px;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
   display: flex;
   gap: 12px;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card__item:hover {
   transform: translateY(-5px);
   box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

h2, p, button {
   text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.card__button {
   background-color: rgb(125, 28, 74);
   transition: all 0.3s ease-in-out;
   padding: 12px 24px;
   border-radius: 12px;
   cursor: pointer;
   color: #fff;
   border: 2px solid rgb(86, 2, 31);
   font-weight: 700;
   font-size: 18px;
   text-transform: uppercase;
   letter-spacing: 1px;
}

.card__button:hover {
   background-color: rgb(244, 204, 233);
   border-color: rgb(244, 204, 233);
   color: #fff;
   transform: scale(1.05);
}
